{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>Random YouTube Video</title>
</head>

<body>
    <p>Thank you for downloading our new app!</p>
    <button onclick="ok();">OK</button>
    <script>
        window.location = "https://randomvideo.pythonanywhere.com/static/RandomYouTubeVideo.apk";
        function ok() {
            window.location = "https://randomvideo.pythonanywhere.com/";
        }
    </script>
</body>

</html>