{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>Random YouTube Video</title>
    <style>
        body {
            background-color: #000;
            margin: 0;
            padding: 0;
        }

        iframe {
            width: 100vw;
            height: 100vh;
            position: absolute;
        }
    </style>
</head>

<body>
    <iframe src="{{ url }}?autoplay=1" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen></iframe>
    <!--https://randomvideo.pythonanywhere.com/download/-->
</body>

</html>